.controls{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.container{
    
    align-items: center;
    justify-content: center;
}



.control-btn-container{
    display: flex;
    
    flex-wrap: wrap;
    margin: 2px;
}

.control-btn{
    background-color: #fcefef;
    
    border-radius: 50%;
    margin: 2px;
    
    width:50px;
    height: auto;
}

.main-controls{
    display: flex;
    margin-bottom: 20px;
   
}



.content{
    outline: none;
    padding: 20px;
}
.box{
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 5px;
    min-height: 80vh;
}

.dropdown-item:hover{
    background-color: rgb(47, 106, 242);
    color: white;
}
#fontSelector{
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow:1px 1.5px #ecdada;
}